---
import PageLayout from '~/layouts/PageLayout.astro';
import { type School } from '~/models/School';

import { stateById } from '~/data/states';

const { id } = Astro.params;
let state = stateById(id);
const DB = Astro.locals.runtime.env.DB;

let response = await DB.prepare('SELECT * FROM Schools where RegionId = ? order by name').bind(id).all();
let schools = response.results as Array<School>;
---

<PageLayout metadata={{ title: 'Colleges, Universities, and Technical or Community Colleges in' + state.name }}>
  <div class="container p-8 mx-auto mb-12">
    <h1 class="text-3xl mt-2 mb-4 inline-block font-bold">{state.name} / Select your School</h1>

    {
      schools.map((school, index) => (
        <a
          href={`/school/${school.Name.replace(/'\\ '/, '-')}/${school.ID}`}
          class={`block border ${index % 2 == 0 && 'bg-gray-100'}  border-gray-200 p-2`}
        >
          <h2 class="font-semibold text-lg">
            {school.Name} ({school.abbr})
          </h2>
        </a>
      ))
    }
  </div>
</PageLayout>
